body {
    font-style: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background-color: rgb(183, 208, 230);
}

/* ============================== */


.block {
margin: 4px ;


}