body {
    font-style: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background-color: rgb(215, 211, 231);
}

.block {
    padding: 30px;
    margin: 50px;
}

/* ============================== */


.block {
    
}


.inline {

}

.img {
    
}

