body {
    background-color: #1e1e20;
}

.wrapper {
    padding: 50px;
    height: 100%;
}

.container {
    position: relative;
    height: 200px;
    background-color: #444;
}

.block {
    background-color: #fff;
    height: 200px;
    width: 200px;
    position: absolute;
}

/* ========================================================= */

.block {
    animation: move-block 3s  ;

    animation-iteration-count: 3;
}

@keyframes move-block {
    0% {
        left: 0px;
    }
    100% {
        left: calc(100%-200px);
    }
}