form{
    width: 200px;
}

.var2 {
    background-color: black;
    color: white;
}

.var4 {
    background-color: rgb(230, 143, 12);
    color: white;
}

.var5 {
    background-color: rgb(12, 211, 45);
    color: white;
}