@font-face {
    font-family: "Rubik Wet Paint";
    src:
        local('Rubik Wet Paint Regular'),
        local('RubikWetPaint-Regular'),
        url('../fonts/RubikWetPaint-Regular.woff2') format('woff2'),
        url('../fonts/RubikWetPaint-Regular.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}